<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>PlagEnter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link type="text/css" href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link type="text/css" href="/static/index.css" rel="stylesheet">
	<link type="text/css" href="/static/chosen/chosen.css" rel="stylesheet"/>
	<link type="text/css" href="/static/jquery-range/range.css" rel="stylesheet"/>

	<link rel="shortcut icon" href="/static/favicon.ico?v=1"/>

	<script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/static/jquery-range/rangeinput.js"></script>
	<script type="text/javascript" src="/static/chosen/chosen.jquery.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/index.js"></script>
</head>

<body>
<button class="btn help"><i class="icon-question-sign"></i></button>
<div class="container">
	<form id="datalove" method="post">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<span class="brand">Plag<span>Enter</span></span>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="group">
								<label class="control-label" for="doc">Dokument mit Änderungsvorschlägen</label>
								<select data-placeholder="Dokument auswählen" id="doc" name="doc"
										class="combobox span6">
									<option></option>
									<% data.lobbyistsDocs.forEach( function(entry){%>
									<optgroup label="<%= entry.lobbyist %>">
										<% entry.docs.forEach( function(doc){%>
										<option value="<%= doc.uid %>" pages="<%= doc.data.pages %>"
												lang="<%= doc.lang %>"><%= doc.filename %>
										</option>
										<% }); %>
									</optgroup>
									<% }); %>
								</select>
							</li>
							<li class="group">
								<label for="pagenr">Seiten-Nr.</label>
								<input id="pagenr" type="range" name="page" min="0" value="0" placeholder="Nr."/>
							</li>
							<br />
							<li class="group">
								<label for="directive">Absatz in Direktive <a href="#" class="hint" rel="popover" data-content="Angabe auf welchen Absatz (Kapitel, Unterkapitel, etc.) sich die Änderungsvorschläge beziehen."
															   data-original-title="Absatz in Direktive"><i class="icon-question-sign"></i></a>
								</label>
								<select data-placeholder="Absatz auswählen" id="directive" name="rel"
										class="combobox span3">
									<option></option>
									<% data.directive.data.forEach( function(d){ %>
									<option value="<%= d.id %>"><%= d.id %></option>
									<% }); %>
								</select>
							</li>
							<li class="group">
								<label for="where">Position <a href="#" class="hint" rel="popover" data-content="Angabe wenn Änderungen z.B. vor/nach Absätzen der Direktive vollzogen werden sollen."
																data-original-title="Position der Änderungen"><i class="icon-question-sign"></i></a>
								</label>
								<select data-placeholder="Stelle auswählen" id="where" name="where" class="combobox span2">
									<option value="direct">Absatz genau</option>
									<option value="before">Absatz davor</option>
									<option value="after">Absatz danach</option>
									<option value="unknown">Unbekannt</option>
								</select>
							</li>
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<div class="middlehead">
			<div class="left">
					<span class="texthead">Text aus der Direktive <a href="#" class="hint" rel="popover" data-content="Hier den Direktive-Text einfügen wie ihn das Proposal angibt."
																	 data-original-title="Text aus der Direktive"><i class="icon-question-sign"></i></a></span>
					<div class="pull-right">
						<button class="btn btn-custom fetch-text" title="Absatz aus Direktive holen"><i class="icon-download"></i></button>
						<button class="btn btn-custom clear-text" for="txt_old" title="Textfeld leeren"><i class="icon-remove"></i></button>
					</div>
					<div class="pull-right">
						<select data-placeholder="Sprache" id="langs" class="span2" title="Sprache des Textes aus der Direktive">
							<% for (var key in data.languages.data) { %>
							<option value="<%= key %>"><%= data.languages.data[key] %></option>
							<% } %>
						</select>
					</div>
			</div><div class="right">
				<span class="texthead">Text aus dem Proposal <a href="#" class="hint" rel="popover" data-content="Hier den Text einfügen wie ihn das Proposal als Änderungsvorschlag angibt.  Bitte leer lassen, wenn der Vorschlag den Direktive-Text streicht."
																data-original-title="Text aus dem Proposal"><i class="icon-question-sign"></i></a></span>
				<div class="pull-right">
					<button class="btn btn-custom clear-text" for="txt_new" title="Textfeld leeren"><i class="icon-remove"></i></button>
				</div>
			</div>
		</div>
		<div class="middle">
			<div class="left">
				<textarea id="txt_old" name="txtold" rows=10 cols=10></textarea>
			</div><div class="right">
				<textarea id="txt_new" name="txtnew" rows=10 cols=10></textarea>
			</div>
		</div>
		<div class="foot">
			<button type="submit" class="btn btn-primary">Speichern</button>
			<div id="status" class="alert alert-info"></div>
		</div>
	</form>
</div>
</body>
</html>
